:root {
	--primary-bg-color: #ecf4fa;
	--secondary-bg-color: #d0e1e9;
	--third-bg-color: #dfecf1;
	--nav-box-color: #112;
}
html, body {
	position: relative;
	width: 550px;
	height: 500px;
}
body {
	margin: 0;
	font-family: Roboto, system-ui, sans-serif;
	background-color: var(--primary-bg-color);
	box-sizing: border-box;
}
main {
	display: flex;
}
.main-section {
	padding: 10px;
	width: 435px;
}
strong {
	color: #777;
}
a {
	color: rgb(0,100,200);
	text-decoration: none;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #333;
	opacity: .7; /* Firefox */
}

input:disabled {
	color: #ccc;
}

.btn-main {
	border: 0px;
	background: #14a27a;
	border-radius: 3px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	padding: 5px;
	text-align: center;
	margin-right: 5px;
}
.btn-main:hover {
	opacity: .9;
}

button {
	cursor: pointer;
}

.in-queue, .currently-processing {
	display: flex;
	flex-wrap: wrap;
	margin: 5px 0;
}
.currently-processing {
	flex-flow: column;
}

.message, .error {
	display: block;
	margin: 10px 0;
}
.message {
	color:rgb(22, 224, 157);
}
.error {
	color:rgb(212, 29, 29);
}
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.force-queue {
	margin: 5px 0;
}
.add-skues {
	display: flex;
	flex-flow: column;
}
.buttons {
	display: flex;
    justify-content: space-between;
    width: 222px;
}
button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

i {
	width: 50%;
    height: 22px;
	margin-bottom: 5px;
}

aside {
    box-sizing: border-box;
	width: 61px;
    height: 500px;
    padding: 20px 0;
    padding-left: 0px;
    background: var(--nav-box-color);
}

.one-article {
	background-color: var(--secondary-bg-color);
    width: 108%;
    padding: 5px;
    box-sizing: border-box;
	border-radius: 6px;
}

.one-article h2 {
	font-size: 1em;
	margin-right: 268px;
}

.list {
	width: 100%;
	padding: 5px 16px 5px;
	margin: 5px;
	background-color: var(--third-bg-color); 
}

.list li {
	list-style-type: decimal;
}

.list li + .list li {
	margin-top: 16px;
}
